.home {
  height: 400px;
  color: white;
  background-color: #030303da;
  display: flex;
  width: 100%;
}

.home-content {
  margin-left: 200px;
}

.home-content h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 10px;
}

.home-content h3 {
  margin-top: 15px;
  margin-left: 10px;
  color: yellow;
}

.button-for-action {
  display: flex;
}

.hire-me-button {
  background-color: #ff8546;
  margin-left: 10px;
  text-align: center;
  width: 170px;
  padding: 10px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid white;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hire-me-button a {
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
}

.hire-me-button:hover {
  background-color: white;
  width: 230px;
  color: black;
  transition-duration: 1s;
}

.get-resume-button {
  background-color: rgb(250, 184, 4);
  margin-left: 10px;
  text-align: center;
  width: 170px;
  padding: 10px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid white;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.get-resume-button:hover {
  background-color: orangered;
  width: 230px;
  color: white;
  transition-duration: 1s;
}

.get-resume-button a {
  color: white;
  text-decoration: none;
}

.theme-change {
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #001cce;
  right: 0;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  position: fixed;
  top: 150;
  margin-top: 250px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 425px) {
  .home-content {
    text-align: center;
    margin-left: 50px;
  }

  .button-for-action {
    width: 100%;
  }

  .hire-me-button {
    width: 500px;
    height: 40px;
  }

  .get-resume-button {
    width: 500px;
    height: 40px;
  }
}

@media (max-width: 1000px) {
  .theme-change {
    display: none;
  }
}

.sun-theme-icon {
  animation: rotation infinite 5s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
